@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
    font-family: system-ui;
    color:#fff;
    background-color:#fff;
}

#header{
    position: relative;
    width: 100%;
}

.container{
    margin-top: 70px;
    display: flex;
    width:100%;
    justify-content: center;
}

.container img{
    width: 100%;
    height: auto;
    max-width: 100%;
}

.interest img {
    width: 200px; 
    display: flex;
    object-fit: contain; 
    position:absolute;
    left:70%;
    top: 20px;
    visibility: hidden;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; 
}

.header-text{
    font-family: 'Montserrat', san-serif;
    position:absolute;
    left:50%;
    top: 50px;
    font-size:20px;
    font-weight: 50;
    margin-right: 30px;
}

main {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.p_h{
    margin-top:8px;
    justify-content: space-between;
    text-decoration: none;
    padding:1rem;
}

nav{
    margin:0;
    padding:0;
    box-sizing: border-box;
    position:fixed;
    top:0;
    left:0;
    height:70px;
    width:100%;
    background-color: rgba(255, 255, 255, 0.258);
}

nav .nav-bar{
    position:relative;
    height:100%;
    max-width:1200px;
    width:100%;
    margin: 0 auto;
    padding:0 30px;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight:500;
    color:rgb(255, 255, 255);
    text-decoration: none;

}

.nav-bar .nav-links{
    display:flex;
    align-items:center;
}

.nav-bar .nav-links li{
    margin:0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight:500;
    color:rgb(162, 162, 162);
    text-decoration: none;
}

svg {
    border: solid lightgrey;
}