body {
    font-family: Arial, system-ui;
    background-color: #be68e0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 2rem;
    text-align: center;
}

name{
    font-size:70px;
    color:#be68e0;
    margin-top:20px;
    font-weight: 200;
}

main {
    background:#dfbdde;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

left-section{
    width:310px;
    background: #fff;
    height:100%;
    padding: 5px 20px;
    border-radius: 5px;
    float: left;
}

right-section{
    margin-left: 10px;
    width:540px;
    background: #ececee;
    height:100%;
    border-radius: 5px;
    float: left;
}

svg {
    border: solid lightgrey;
}