@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    font-family: system-ui;
    background-color: #dfbdde;
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Montserrat', san-serif;
    background-color: #ffffff62;
    color: white;
    padding: 2rem;
    text-align: center;
    font-size:20px;
    font-weight: 50;
}



main {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

left-section{
    width:310px;
    background: #fff;
    height:100%;
    padding: 5px 20px;
    border-radius: 5px;
    float: left;
}

right-section{
    margin-left: 10px;
    width:540px;
    background: #ececee;
    height:100%;
    border-radius: 5px;
    float: left;
}

svg {
    border: solid lightgrey;
}